In [1]:
import numpy as np
import pandas as pd

In [4]:
from sklearn.datasets import load_boston
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [6]:
data = boston["data"]
data.shape

(506, 13)

In [18]:
feature_names = boston["feature_names"]
feature_names
Ref.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [8]:
target = boston["target"]
target[:10]

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9])

In [13]:
Ref = pd.DataFrame(data, columns = feature_names)
Ref.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [15]:
Z = pd.DataFrame(target, columns=["price"])
Z.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

In [66]:
from sklearn.model_selection import train_test_split
Ref_train, Ref_test, Z_train, Z_test = train_test_split(X, Z, test_size = 0.3, random_state = 42)

In [67]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [68]:
lr.fit(Ref_train, Z_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [69]:
Z_testing = lr.predict(Ref_test)
Z_testing.shape

(152, 1)

In [70]:
check_test = pd.DataFrame({
    "Z_test": Z_test["price"],
    "Z_testing": Z_testing.flatten(),
})

check_test.head(10)

     Z_test  Z_testing
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [71]:
check_test["error"] = check_test["Z_testing"] - check_test["Z_test"]
check_test.head()

     Z_test  Z_testing     error
173    23.6  28.648960  5.048960
274    32.4  36.495014  4.095014
491    13.6  15.411193  1.811193
72     22.8  25.403213  2.603213
452    16.1  18.855280  2.755280

In [72]:
from sklearn.metrics import r2_score
r2_score_1 = r2_score(check_test["Z_testing"], check_test["Z_test"])
r2_score_1

0.669370269149561

Задание 2

In [73]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators = 1000, max_depth = 12, random_state = 42)

In [74]:
model.fit(Ref_train, Z_train.values[:, 0])

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=12, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [75]:
Z_testing = model.predict(Ref_test)
Z_testing.shape

(152,)

In [76]:
check_test = pd.DataFrame({
    "Z_test": Z_test["price"],
    "Z_testing": Z_testing.flatten(),
})

check_test.head(10)

     Z_test  Z_testing
173    23.6  22.846138
274    32.4  31.156114
491    13.6  16.297226
72     22.8  23.821036
452    16.1  17.212148
76     20.0  21.820092
316    17.8  19.866369
140    14.0  14.759938
471    19.6  21.235224
500    16.8  20.883103

In [77]:
r2_score_2 = r2_score(check_test["Z_testing"], check_test["Z_test"])
r2_score_2

0.8481499145965063

In [78]:
r2_score_1 < r2_score_2

True

Модель RandomForestRegressor работает лучше, чем модель LinearRegression

Задание 3

In [79]:
?RandomForestRegressor

In [80]:
#feature_importances_ : array of shape = [n_features]
#The feature importances (the higher, the more important the feature).

In [44]:
print(model.feature_importances_)

[0.03211748 0.00154999 0.0070941  0.0011488  0.01436832 0.40270459
 0.01424477 0.06403265 0.00496762 0.01169177 0.01808961 0.0123114
 0.41567892]

In [45]:
model.feature_importances_.sum()

0.9999999999999999

In [46]:
max_value_idx1 = model.feature_importances_.argmax()
max_value_idx1

12

In [49]:
max_value_idx2 = 0
max_value = model.feature_importances_[max_value_idx2]
for i in range(model.n_features_):
    if max_value < model.feature_importances_[i] and i!= max_value_idx1:
        max_value = model.feature_importances_[i]
        max_value_idx2 = i
print(max_value_idx2)

5